{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>BookKeeping App</title>
    <meta charset="UTF-8" />
    <link
        rel="shortcut icon"
        href="{% static 'assets/images/logo/favicon-dark.png' %}"
        media="(prefers-color-scheme: dark)" />
    <link
        rel="shortcut icon"
        href="{% static 'assets/images/logo/favicon-light.png' %}"
        media="(prefers-color-scheme: light)" />

    <script>
      try {
        document.documentElement.setAttribute("data-theme", JSON.parse(localStorage.getItem("__NEXUS__HTML__ADMIN__LAYOUT__")).theme)
      } catch (e) {}
    </script>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'assets/main.css' %}">
  </head>

  <body>
    <div class="size-full">
      <div class="flex overflow-hidden">
        <div class="leftmenu-wrapper">
          <a class="flex h-16 items-center justify-center" href="#">
            <!--  Start: Logo -->

              <a class="btn btn-lg btn-ghost text-xl">BookKeeping App</a>

            <!--  End: Logo -->
          </a>
          <div data-simplebar class="h-[calc(100vh-64px)] lg:h-[calc(100vh-230px)]">
            <ul class="menu mb-6">
              <!--  Start: Apps -->
              <li class="menu-title font-semibold">Apps</li>
              <li class="mb-0.5">
                <details open>
                  <summary>
                    <div class="flex items-center gap-2">
                      <iconify-icon icon="lucide:user" height="16"></iconify-icon>
                        Real Estate
                    </div>
                  </summary>
                  <ul>
                    <li class="mb-0.5">
                      <a class="hover:bg-base-content/15" href="{% url 'properties' %}">
                        <div class="flex items-center gap-2">
                          Properties
                        </div>
                      </a>
                    </li>
                    <li class="mb-0.5">
                      <a class="hover:bg-base-content/15" href="{% url 'tenants' %}">
                        <div class="flex items-center gap-2">
                          Tenants
                        </div>
                      </a>
                    </li>
                    <li class="mb-0.5">
                      <a class="hover:bg-base-content/15" href="{% url 'landlords' %}">
                        <div class="flex items-center gap-2">
                          Landlords
                        </div>
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
              <!--  End: Apps -->
            </ul>
          </div>
        </div>
        <div class="leftbar-backdrop"></div>
        <div class="main-wrapper flex-grow max-h-screen overflow-auto">
          <div class="flex h-full flex-col">
            <div
              role="navigation"
              aria-label="Navbar"
              class="topbar-wrapper navbar z-10 border-b border-base-200 px-3">
              <div class="navbar-start gap-3">
                <button
                  aria-label="Leftmenu toggle"
                  data-action="leftbar-toggle"
                  class="btn btn-square btn-ghost btn-sm">
                  <iconify-icon icon="lucide:menu" height="20"></iconify-icon>
                </button>

                
              </div>
              <div class="navbar-end gap-1.5">
                <button
                  aria-label="Theme toggler"
                  class="btn btn-circle btn-ghost btn-sm"
                  data-action="theme-toggle">
                  <iconify-icon icon="lucide:sun" height="20" class="hidden dark:inline"></iconify-icon>
                  <iconify-icon icon="lucide:moon" height="20" class="inline dark:hidden"></iconify-icon>
                </button>
                <div class="dropdown dropdown-end dropdown-bottom">
                  <label tabindex="0" class="btn btn-ghost rounded-btn px-1.5 hover:bg-base-content/20">
                    <div class="flex items-center gap-2">
                      <div aria-label="Avatar photo" class="avatar">
                        <div class="mask mask-squircle" style="width: 30px; height: 30px">
                          <img src="{% static 'assets/images/avatars/1.png' %}" alt="Avatar" />
                        </div>
                      </div>
                      <div class="flex flex-col items-start">
                        <p class="text-sm/none">Tej</p>
                        <p class="mt-1 text-xs/none text-primary">Edit</p>
                      </div>
                    </div>
                  </label>
                  <ul
                    tabindex="0"
                    class="menu dropdown-content mt-4 w-52 rounded-box bg-base-100 p-2 shadow"
                    role="menu">
                    <li>
                      <div>
                        <iconify-icon icon="lucide:user" height="16"></iconify-icon>
                        My Profile
                      </div>
                    </li>
                    <li>
                      <div>
                        <iconify-icon icon="mdi:bank" height="16"></iconify-icon>
                        Link Bank account
                      </div>
                    </li>
                    <hr class="-mx-2 my-1 border-base-content/10" />
                    <li>
                      <div class="text-error">
                        <iconify-icon icon="lucide:log-out" height="16"></iconify-icon>
                        Logout
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="flex justify-center mt-8">
              <div class="w-full max-w-6xl px-4">
                {% block content %}
                {% endblock %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.min.js"></script>
    {% block extra_scripts %}
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.css" />
    <script src="{% static 'assets/js/app.js' %}"></script>
  </body>
</html>
