{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
            Bookkeeping App
        {% endblock %}
    </title>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    {% block extra_head %}
    {% endblock %}
</head>
<body class="{% if user.is_authenticated and user.dark_mode %}dark{% endif %}">

    {% include 'bookkeeping/partials/navbar.html' %}
    
    {% if messages %}
        <div id="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="max-w-screen-lg mx-auto p-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#alert-container .alert').fadeOut('slow', function() {
                    $(this).remove();
                });
            }, 2000);
        });
    </script>

    {% block extra_scripts %}
    {% endblock %}
</body>
</html>
