{% load custom_filters %}

<div class="card bg-transparent p-5 w-full max-w-6xl mx-auto">

    <!-- Upload Bank Statement Button -->
    <button class="btn w-64 btn-sm btn-outline mb-5" onclick="upload_modal.showModal()">Bankauszug hochladen</button>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-error mt-4">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if skipped_duplicates %}
        <dialog id="skipped_modal" class="modal " open>

        <div class="modal-box">
            <!-- add a close button -->
             <div class="modal-action">
                <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="skipped_modal.close()">✕</button>
            </div>
            
            <h3 class="font-bold text-l">Bereits vorhandene Transaktionen</h3>
            <table class="table table-xs mt-4">
            <thead>
                <tr>
                <th>Datum</th>
                <th>Kontoname</th>
                <th>Betrag</th>
                </tr>
            </thead>
            <tbody>
                {% for tx in skipped_duplicates %}
                <tr>
                <td>{{ tx.date }}</td>
                <td>{{ tx.account_name }}</td>
                <td>€{{ tx.amount|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </dialog>
    {% endif %}

    <!-- Upload Modal -->
    <dialog id="upload_modal" class="modal">
        <div class="modal-box bg-base-100 text-base-content">
            {% if property %}
            <form id="upload_form" method="post" enctype="multipart/form-data" action="{% url 'upload_bank_statement' property.id %}" onsubmit="showSpinner(event)">

                {% csrf_token %}
                <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="upload_modal.close()">✕</button>
                <h1 class="text-lg font-bold mb-4">Bankauszug hochladen</h1>
                

              
                
                <!-- Spinner Animation -->
                <div id="spinner" class="hidden flex justify-center items-center mb-4">
                    <span class="loading loading-dots loading-xs"></span>
                </div>

                <!-- File Input -->
                <div class="mb-4">
                    <input type="file" name="statement" class="file-input file-input-bordered file-input-sm w-full max-w-xs" required>
                </div>

                <!-- Submit and Cancel Buttons -->
                <div class="flex justify-end">
                    <button type="submit" class="btn btn-outline">Hochladen</button>
                    <button type="button" class="btn btn-outline btn-error" onclick="upload_modal.close()">Abbrechen</button>
                </div>
                {% if skipped_duplicates %}
                <hr class="my-3">
                <h2 class="font-bold text-sm mb-2">⚠️ Bereits vorhandene Transaktionen</h2>
                <div class="overflow-x-auto max-h-60">
                    <table class="table table-xs w-full text-left bg-base-100 text-base-content">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Kontoname</th>
                                <th>Betrag</th>
                                <th>Beschreibung</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tx in skipped_duplicates %}
                            <tr>
                                <td>{{ tx.date }}</td>
                                <td>{{ tx.account_name }}</td>
                                <td class="{% if tx.is_income %}text-success{% else %}text-error{% endif %}">
                                    €{{ tx.amount|floatformat:2 }}
                                </td>
                                <td>{{ tx.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </form>
            {% else %}
            <form action="#" method="post"></form>
            {% endif %}
            
        </div>
    </dialog>

    <!-- Earmarked Transactions Table -->
    <div class="overflow-x-auto h-96 mb-10">
        <h2 class="text-xl font-light mb-3">Vorgemerkte Transaktionen für {{ property.name }}</h2>
        <table class="table w-full text-left bg-base-100 text-base-content">
            <thead>
                <tr>
                    <th>BN</th>
                    <th>Kontoname</th>
                    <th>Datum</th>
                    <th>Betrag</th>
                    <th>Beschreibung</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in earmarked_transactions %}
                <tr>
                    <td>{{ transaction.booking_no }}</td>
                    <td>{{ transaction.account_name }}</td>
                    <td>{{ transaction.date }}</td>
                    <td class="{% if transaction.is_income %}text-success{% else %}text-error{% endif %}">
                        €{{ transaction.amount|floatformat:2 }}
                    </td>
                    <td>{{ transaction.description }}</td>
                    <td>
                        {% if transaction.is_income %}
                        <button class="btn btn-sm btn-outline btn-success" onclick="openIncomeModal('{{ transaction.account_name }}', '{{ transaction.amount }}' , '{{ transaction.date}}')">
                            + Einnahme
                        </button>
                        {% else %}
                        <button class="btn btn-sm btn-outline btn-error" onclick="openExpenseModal('{{ transaction.account_name }}' , '{{ transaction.amount }}', '{{ transaction.booking_no }}', '{{ transaction.date }}')">
                            + Ausgabe
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-base-content/50">Keine vorgemerkten Transaktionen verfügbar.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script>
    function showSpinner(event) {
        event.preventDefault(); // Prevent the default form submission
        const spinner = document.getElementById('spinner');
        const uploadButton = event.target.querySelector('button[type="submit"]');

        if (spinner) {
            spinner.classList.remove('hidden'); // Show the spinner
        }
        
        if (uploadButton) {
            uploadButton.disabled = true; // Disable the upload button
        }

        // Optionally, you can delay form submission to simulate upload
        setTimeout(() => {
            event.target.submit(); // Submit the form after showing spinner
        }, 500); // Adjust the delay as needed
    }

    function openIncomeModal(accountName , amount , date) {
        const input = document.getElementById('account_name_income');
        const amountInput = document.getElementById('amount_income');
        const dateInput = document.getElementById('date_income');
        const modal = document.getElementById('add_income_modal_2');

        fetch(`/api/matching-leases/?account_name=${encodeURIComponent(accountName)}`)
        .then(response => response.json())
        .then(data => {
            const leaseSelect = document.getElementById('lease_add_income_profile');
            for (const option of leaseSelect.options) {
                option.selected = data.lease_ids.includes(parseInt(option.value));
            }
        });

        if (modal) {
            modal.showModal(); // Show the modal
            if (input) {
                input.value = accountName; // Set the account name in the input field
                amountInput.value = amount
                    ? parseFloat(amount.replace(/\./g, '').replace(',', '.')).toFixed(2)
                    : ''; // Set the amount in the input field
                dateInput.value = date
                ? date.replace(/(\d{2})\.(\d{2})\.(\d{4})/, '$3-$2-$1') // Ensure ISO format
                : '';
            } else {
                console.error('Kontoname-Feld nicht gefunden');
            }
        } else {
            console.error('Kontoname-Feld oder Modal nicht gefunden');
        }
    }

    function openExpenseModal(accountName , amount ,booking_no , date) {
        const input = document.getElementById('account_name_expense');
        const amountInput = document.getElementById('amount_expense');
        const bookingNoInput = document.getElementById('booking_no_expense');
        const dateInput = document.getElementById('date_expense');
        const modal = document.getElementById('add_expense_modal_2');

        if (modal) {
            modal.showModal(); // Show the modal
            if (input) {
                // bookingNoInput.value = booking_no; // Set the booking number in the input field
                input.value = accountName; // Set the account name in the input field
                amountInput.value = amount
                    ? parseFloat(amount.replace(/\./g, '').replace(',', '.')).toFixed(2)
                    : ''; // Set the amount in the input field 
                    dateInput.value = date
                ? date.replace(/(\d{2})\.(\d{2})\.(\d{4})/, '$3-$2-$1') // Ensure ISO format
                : '';
            } else {
                console.error('Account name input not found');
            }
        } else {
            console.error('Account name input or modal not found');
        }
    }

</script>
<script>
  new TomSelect("#leases_multi", {
    plugins: ['remove_button'],
    maxItems: null
  });
</script>