<div class="card bg-transparent p-5 w-full max-w-6xl mx-auto">
   
    <button class="btn w-64 btn-sm btn-outline mb-5" onclick="window.location.href='{% url 'export_parsed_transactions' %}'">
        Als Excel herunterladen
    </button>
    
    <div class="overflow-x-auto h-96 mb-10">


        <h2 class="text-xl font-light mb-3">Journal (Verarbeitete Transaktionen) für {{ property.name }}</h2>
        <div class="overflow-x-auto">
            <table class="table w-full text-left bg-base-100 text-base-content">
                <thead>
                    <tr>
                        <th>BN</th>
                        <th>Datum</th>
                        <th>Kontoname</th>
                        <th>Einheit</th>
                        <th>Nettobetrag</th>
                        <th>UST</th>
                        <th>UST %</th>
                        <th>Bruttobetrag</th>
                        <th>Transaktionstyp</th>
                        <th>Gebäude</th>
                        <th>Mietvertrag</th>
                        <th>Rechnung</th>

                    </tr>
                </thead>
                <tbody>
                    {% for transaction in parsed_transactions %}
                    <tr>
                        <td>{{ transaction.booking_no }}</td>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.account_name }}</td>
                        <td>{{ transaction.unit_name }}</td>
                        <td class="{% if transaction.is_income %}text-success{% else %}text-error{% endif %}">
                            €{{ transaction.betrag_netto }}
                        </td>
                        <td>€{{ transaction.ust }}</td>
                        <td>{{ transaction.ust_type }}%</td>
                        <td class="{% if transaction.is_income %}text-success{% else %}text-error{% endif %}">
                            €{{ transaction.betrag_brutto }}
                        </td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.related_property }}</td>
                        <td>{{ transaction.tenant }}</td>
                        <td>
                            {% if transaction.invoice %}
                            <a href="{{ transaction.invoice.url }}" target="_blank">Rechnung anzeigen</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11" class="text-center text-base-content/50">Keine verarbeiteten Transaktionen verfügbar.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
