<div class="card bg-transparent p-5 w-full max-w-6xl mx-auto">


    <!-- Trigger Button -->
    <button class="btn w-64 btn-sm btn-outline mb-5" onclick="add_lease_modal.showModal()">Mietvertrag hinzufügen</button>

    <!-- Add Lease Modal -->
    <dialog id="add_lease_modal" class="modal">
        <div class="modal-box bg-base-100 text-base-content">
            <form method="post" action="{% url 'add_lease' %}">
                {% csrf_token %}
                <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="add_lease_modal.close()">✕</button>
                <h1 class="text-lg font-bold mb-4">Mietvertrag hinzufügen</h1>

                <div class="mb-4 hidden">
                    <label class="label">
                        <span class="label-text">Gebäude</span>
                    </label>
                    <input type="hidden" name="property" value="{{ property.id }}" />
                    <input type="text" class="input input-bordered w-full" value="{{ property.name }}" disabled />
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Einheit *</span>
                    </label>
                    <select name="unit" id="unit" class="select select-bordered w-full" required onchange="updateFieldsFromUnit()">
                        <option value="" disabled selected>Einheit auswählen</option> <!-- Default option -->
                        {% for unit in property.units.all %}
                        <option value="{{ unit.id }}">{{ unit.unit_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Vermieter *</span>
                    </label>
                    <select name="landlords" id="landlords" class="select select-bordered w-full" multiple disabled>
                        {% for landlord in property.landlords.all %}
                        <option value="{{ landlord.id }}">{{ landlord.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Mieter *</span>
                    </label>
                    <select name="tenants" id="tenants" class="select select-bordered w-full" multiple required>

                        {% for tenant in tenants %}
                        <option value="{{ tenant.id }}">{{ tenant.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">USt Typ *</span>
                    </label>
                    <select name="ust_type" class="select select-bordered w-full" required>
                        <option value="Ohne">Ohne</option>
                        <option value="Mit">Mit</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Kaution *</span>
                    </label>
                    <input type="number" name="deposit_amount" step="0.01" class="input input-bordered w-full">
                </div>
                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Bürgschaft</span>
                    </label>
                    <input type="number" name="guarantee" step="0.01" class="input input-bordered w-full">
                </div>



                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Miete *</span>
                    </label>
                    <input type="number" name="rent" id="rent" step="0.01" class="input input-bordered w-full" readonly>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Startdatum</span>
                    </label>
                    <input type="date" name="start_date" class="input input-bordered w-full">
                </div>
                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Enddatum (optional)</span>
                    </label>
                    <input type="date" name="end_date" class="input input-bordered w-full">
                </div>

                <div class="modal-action">
                    <button type="submit" class="btn btn-outline">Hinzufügen</button>
                    <button type="button" class="btn btn-outline btn-error" onclick="add_lease_modal.close()">Abbrechen</button>
                </div>
            </form>
        </div>
    </dialog>

    <!-- Lease List -->
    <div class="overflow-x-auto h-96 mb-10">
        <h2 class="text-xl font-light mb-3">Mietverträge für {{ property.name }}</h2>
        <div class="mb-4 flex items-center gap-2">
            <select id="tenantFilter" multiple class="w-64" placeholder="Mieter auswählen...">
              {% for tenant in tenants %}
                <option value="{{ tenant.name }}">{{ tenant.name }}</option>
              {% endfor %}
            </select>
          </div>
           
        <table id="leaseTable" class="table w-3/5 text-left bg-base-100 text-base-content">

            <thead>
                <tr class="border-b border-base-200">
                    <th>Einheit</th>
                    <th>Mieter</th>

                    <th>USt Typ</th>
                    <th>Miete</th>
                    <th>NebenKosten</th>
                    <th>Kaution</th>
                    <th>Bürgschaft</th>
                    <th>Startdatum</th>
                    <th>Enddatum</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                {% for lease in leases %}
                <tr>
                    <td>
                        <a href="#" class="font-semibold hover:text-primary hover:underline transition-all"
                        onclick="openEditLeaseModal(
                            {{ lease.id }}, 
                            {{ lease.unit.id }}, 
                            [{% for tenant in lease.tenants.all %}'{{ tenant.id }}'{% if not forloop.last %}, {% endif %}{% endfor %}],  
                            '{{ lease.start_date|default:''|date:'Y-m-d' }}', 
                            '{{ lease.end_date|default:''|date:'Y-m-d' }}', 
                            '{{ lease.deposit_amount|default:0.00|floatformat:2 }}',  
                            '{{ lease.rent }}', 
                            '{{ lease.ust_type|default:'' }}'
                        )"
                                         
                        >
                        
                            {{ lease.unit.unit_name }}
                        </a>
                    </td>
                    <td>
                        {% for tenant in lease.tenants.all %}
                            {{ tenant.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            <span class="text-gray-500">Kein Mieter</span>
                        {% endfor %}
                    </td>
                    

                    <td>{{ lease.ust_type }}</td>
                    <td>€{{ lease.rent|floatformat:2 }}</td>
                    <td>€{{ lease.additional_costs|floatformat:"2" }}</td>
                    <td>€{{ lease.deposit_amount|floatformat:2 }}</td>
                    <td>
                        €{% if lease.guarantee %}{{ lease.guarantee|floatformat:2 }}{% else %}0.00{% endif %}
                    </td>               
                    <td>{{ lease.start_date|date:'Y-m-d' }}</td>
                    <td>{{ lease.end_date|date:'Y-m-d'|default:"-" }}</td>
                    <td>
                        <!-- Delete Form with Circular Button -->
                        <form method="post" action="{% url 'delete_lease' lease.id %}" class="inline"
                            onsubmit="return confirm('Sind Sie sicher, dass Sie diesen Mietvertrag löschen möchten?');">
                            {% csrf_token %}
                            <button type="submit" 
                                    class="btn btn-circle btn-outline btn-error btn-sm hover:bg-error hover:text-white hover:border-transparent transition-all" 
                                    aria-label="Delete Lease">
                                ✕
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center text-base-content/50">No leases available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script>
    function updateFieldsFromUnit() {
        const unitSelect = document.getElementById('unit');
        const landlordsSelect = document.getElementById('landlords');
        const rentInput = document.getElementById('rent');

        const unitId = unitSelect.value;
        fetch(`/fetch_unit_tenant_data?unit_id=${unitId}`)
            .then(response => response.json())
            .then(data => {
                [...landlordsSelect.options].forEach(option => {
                    option.selected = data.landlord_ids.includes(parseInt(option.value));
                });
                rentInput.value = data.rent;
            });
    }
    function parseGermanNumber_2(value) {
    if (value === null || value === undefined) return 0;

    value = String(value).trim();

    // If value has both `.` and `,` assume it's German format (e.g. 3.500,50)
    if (value.includes('.') && value.includes(',')) {
        value = value.replace(/\./g, '').replace(',', '.');
    }
    // If only `,` is present, assume it's decimal (e.g. 350,50)
    else if (value.includes(',') && !value.includes('.')) {
        value = value.replace(',', '.');
    }
    // If only `.` is present, assume it's already correct

    let parsed = parseFloat(value);
    return isNaN(parsed) ? 0 : parsed;
}




    function openEditLeaseModal(id, unitId, tenantIds, startDate, endDate, depositAmount, rent, ustType) {
    console.log(depositAmount)
        const form = document.getElementById('edit_lease_form');
    form.action = `/edit_lease/${id}/`;

    document.getElementById('edit_unit').value = unitId;
    document.getElementById('edit_start_date').value = startDate || '';
    document.getElementById('edit_end_date').value = endDate || '';

    // Ensure correct decimal format (convert German ',' to '.')
    depositAmount = depositAmount.toString().replace(',', '.');
    rent = rent.toString().replace(',', '.');

    // Safely parse numbers
    document.getElementById('edit_deposit_amount').value = parseGermanNumber_2(depositAmount).toFixed(2);


    console.log(parseGermanNumber_2(depositAmount))


    document.getElementById('edit_rent').value = rent ? parseFloat(depositAmount).toFixed(2) : '0.00' ;

    document.getElementById('edit_ust_type').value = ustType || '';

    // Convert tenantIds into a valid array (string numbers to integers)
    tenantIds = tenantIds.map(id => parseInt(id));

    // Select multiple tenants
    const tenantSelect = document.getElementById('edit_tenants');
    [...tenantSelect.options].forEach(option => {
        option.selected = tenantIds.includes(parseInt(option.value));
    });

    document.getElementById('edit_lease_modal').showModal();
    
    // Ensure tenant selection is applied properly after modal loads
    setTimeout(() => {
        if (tenantSelect) {
            [...tenantSelect.options].forEach(option => {
                option.selected = tenantIds.includes(parseInt(option.value));
            });
        }
    }, 100); // Wait 100ms for modal to load
}


</script>
<script>
    function filterLeasesByTenant() {
        const selectedTenant = document.getElementById("tenantFilter").value.toLowerCase();
        const tableRows = document.querySelectorAll("#leaseTable tbody tr");

        tableRows.forEach(row => {
            const tenantColumn = row.querySelector("td:nth-child(2)"); // Adjust index if needed
            if (tenantColumn) {
                const tenantText = tenantColumn.innerText.toLowerCase();
                row.style.display = selectedTenant === "" || tenantText.includes(selectedTenant) ? "" : "none";
            }
        });
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      new TomSelect("#tenantFilter", {
        plugins: ['remove_button'],
        placeholder: "Mieter auswählen...",
        maxItems: null,
        onChange: filterLeasesByTenant
      });
    });
    </script>
    