<div class="card bg-base-100 shadow-md p-5 w-full max-w-6xl mx-auto">


    <!-- Trigger Button -->
    <button class="btn btn-outline mb-5" onclick="add_lease_modal.showModal()">Add Lease</button>

    <!-- Add Lease Modal -->
    <dialog id="add_lease_modal" class="modal">
        <div class="modal-box bg-base-100 text-base-content">
            <form method="post" action="{% url 'add_lease' %}">
                {% csrf_token %}
                <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="add_lease_modal.close()">✕</button>
                <h1 class="text-lg font-bold mb-4">Add Lease</h1>

                <div class="mb-4 hidden">
                    <label class="label">
                        <span class="label-text">Property</span>
                    </label>
                    <input type="hidden" name="property" value="{{ property.id }}" />
                    <input type="text" class="input input-bordered w-full" value="{{ property.name }}" disabled />
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Unit *</span>
                    </label>
                    <select name="unit" id="unit" class="select select-bordered w-full" required onchange="updateFieldsFromUnit()">
                        <option value="" disabled selected>Select Unit</option> <!-- Default option -->
                        {% for unit in property.units.all %}
                        <option value="{{ unit.id }}">{{ unit.unit_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Landlords *</span>
                    </label>
                    <select name="landlords" id="landlords" class="select select-bordered w-full" multiple disabled>
                        {% for landlord in property.landlords.all %}
                        <option value="{{ landlord.id }}">{{ landlord.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Tenant *</span>
                    </label>
                    <select name="tenant" id="tenant" class="select select-bordered w-full" required onchange="updateFieldsFromTenant()">
                        {% for tenant in tenants %}
                        <option value="{{ tenant.id }}">{{ tenant.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">UST Type *</span>
                    </label>
                    <select name="ust_type" class="select select-bordered w-full" required>
                        <option value="Nicht">Nicht</option>
                        <option value="Voll">Voll</option>
                        <option value="Teilw">Teilw</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Deposit Amount *</span>
                    </label>
                    <input type="number" name="deposit_amount" step="0.01" class="input input-bordered w-full">
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Rent *</span>
                    </label>
                    <input type="number" name="rent" id="rent" step="0.01" class="input input-bordered w-full" readonly>
                </div>

                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">Start Date</span>
                    </label>
                    <input type="date" name="start_date" class="input input-bordered w-full">
                </div>
                <div class="mb-4">
                    <label class="label">
                        <span class="label-text">End Date (Optional)</span>
                    </label>
                    <input type="date" name="end_date" class="input input-bordered w-full">
                </div>

                <div class="modal-action">
                    <button type="submit" class="btn btn-outline">Add</button>
                    <button type="button" class="btn btn-outline btn-error" onclick="add_lease_modal.close()">Cancel</button>
                </div>
            </form>
        </div>
    </dialog>

    <!-- Lease List -->
    <div class="overflow-x-auto">
        <h2 class="text-xl font-light mb-3">Leases for {{ property.name }}</h2>
        <table class="table w-3/5 text-left bg-base-100 text-base-content">
            <thead>
                <tr class="border-b border-base-200">
                    <th>Unit</th>
                    <th>Tenant</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>UST Type</th>
                    <th>Rent</th>
                    <th>Deposit</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for lease in leases %}
                <tr>
                    <td>{{ lease.unit.unit_name }}</td>
                    <td>{{ lease.tenant.name }}</td>
                    <td>{{ lease.start_date|date:'Y-m-d' }}</td>
                    <td>{{ lease.end_date|date:'Y-m-d' }}</td>
                    <td>{{ lease.ust_type }}</td>
                    <td>{{ lease.rent|floatformat:2 }}</td>
                    <td>{{ lease.deposit_amount|floatformat:2 }}</td>
                    <td>
                        <button class="btn btn-sm btn-outline" onclick="openEditLeaseModal(
                            {{ lease.id }}, 
                            {{ lease.unit.id }}, 
                            {{ lease.tenant.id }}, 
                            '{{ lease.start_date|date:'Y-m-d' }}', 
                            '{{ lease.end_date|date:'Y-m-d' }}', 
                            '{{ lease.deposit_amount|floatformat:2 }}', 
                            '{{ lease.rent|floatformat:2 }}', 
                            '{{ lease.ust_type }}')">
                            Edit
                        </button>
                        <form method="post" action="{% url 'delete_lease' lease.id %}" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline btn-error btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center text-base-content/50">No leases available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function updateFieldsFromUnit() {
        const unitSelect = document.getElementById('unit');
        const landlordsSelect = document.getElementById('landlords');
        const rentInput = document.getElementById('rent');

        const unitId = unitSelect.value;
        fetch(`/fetch_unit_tenant_data?unit_id=${unitId}`)
            .then(response => response.json())
            .then(data => {
                [...landlordsSelect.options].forEach(option => {
                    option.selected = data.landlord_ids.includes(parseInt(option.value));
                });
                rentInput.value = data.rent;
            });
    }

    function openEditLeaseModal(id, unitId, tenantId, startDate, endDate, depositAmount, rent, ustType) {
        const form = document.getElementById('edit_lease_form');
        form.action = `/edit_lease/${id}/`;

        document.getElementById('edit_unit').value = unitId;
        document.getElementById('edit_tenant').value = tenantId;
        document.getElementById('edit_start_date').value = startDate || '';
        document.getElementById('edit_end_date').value = endDate || '';

        // Convert depositAmount and rent to a format suitable for HTML inputs
        const parseToDotDecimal = (value) => value.replace(',', '.');
        document.getElementById('edit_deposit_amount').value = parseToDotDecimal(depositAmount) || '';
        document.getElementById('edit_rent').value = parseToDotDecimal(rent) || '';

        document.getElementById('edit_ust_type').value = ustType || '';

        document.getElementById('edit_lease_modal').showModal();
    }

</script>
