{% extends 'bookkeeping/base.html' %}
{% block title %}{{ property.name }}{% endblock %}

{% block content %}
<div class="w-full max-w-6xl mx-auto">
  <!-- Page Title -->
  <div class="text-center mb-5 mt-2">
      <h1 class="text-xl font-light">{{ property.name }}</h1>
  </div>

  <!-- Radio Tabs -->
  <div class ="flex">
    <div role="tablist" class="tabs tabs-bordered justify-start mb-5">
      <!-- Units Tab -->
      <input type="radio" name="property_tabs" id="units_tab" role="tab" class="tab" aria-label="Units" checked>
      <div role="tabpanel" class="tab-content">
        {% include 'bookkeeping/units.html' with units=units %}
      </div>

      <!-- Leases Tab -->
      <input type="radio" name="property_tabs" id="leases_tab" role="tab" class="tab" aria-label="Leases">
      <div role="tabpanel" class="tab-content">
        {% include 'bookkeeping/leases.html' with leases=leases %}
      </div>

      <!-- Income Profiles Tab -->
      <input type="radio" name="property_tabs" id="income_tab" role="tab" class="tab" aria-label="Income">
      <div role="tabpanel" class="tab-content ">
        {% include 'bookkeeping/income_profiles.html' with income_profiles=income_profiles %}
      </div>

      <!-- Expense Profiles Tab -->
      <input type="radio" name="property_tabs" id="expense_tab" role="tab" class="tab" aria-label="Expense">
      <div role="tabpanel" class="tab-content ">
        {% include 'bookkeeping/expense_profiles.html' with expense_profiles=expense_profiles %}
      </div>

      <!-- Dashboard Tab -->
      <input type="radio" name="property_tabs" id="dashboard_tab" role="tab" class="tab" aria-label="BookKeeping">
      <div role="tabpanel" class="tab-content">
        <!-- add dashboard here -->
        {% include 'bookkeeping/dashboard.html' with dashboard=dashboard %}
      </div>
    </div>
  </div>
</div>

<!-- Edit Unit Modal -->
<dialog id="edit_unit_modal" class="modal">
  <div class="modal-box bg-base-100 text-base-content">
      <form method="post" id="edit_unit_form">
          {% csrf_token %}
          <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="edit_unit_modal.close()">✕</button>
          <h1 class="text-lg font-bold mb-4">Edit Unit</h1>
          <div class="mb-4">
              <label class="label"><span class="label-text">Unit Name</span></label>
              <input type="text" name="unit_name" id="edit_unit_name" class="input input-bordered w-full" required>
          </div>
          <div class="mb-4">
              <label class="label"><span class="label-text">Floor Area (sq.M.)</span></label>
              <input type="number" name="floor_area" id="edit_floor_area" step="0.1" class="input input-bordered w-full" required>
          </div>
          <div class="mb-4">
              <label class="label"><span class="label-text">Number of Rooms</span></label>
              <input type="number" name="rooms" id="edit_rooms" class="input input-bordered w-full" required>
          </div>
          <div class="mb-4">
              <label class="label"><span class="label-text">Number of Bathrooms</span></label>
              <input type="number" name="baths" id="edit_baths" class="input input-bordered w-full" required>
          </div>
          <div class="mb-4">
              <label class="label"><span class="label-text">Market Rent</span></label>
              <input type="number" name="market_rent" id="edit_market_rent" step="0.01" class="input input-bordered w-full" required>
          </div>
          <div class="modal-action">
              <button type="submit" class="btn btn-outline">Save</button>
              <button type="button" class="btn btn-outline btn-error" onclick="edit_unit_modal.close()">Cancel</button>
          </div>
      </form>
  </div>
</dialog>

<!-- Edit Lease Modal -->
<dialog id="edit_lease_modal" class="modal">
  <div class="modal-box bg-base-100 text-base-content">
      <form method="post" id="edit_lease_form">
          {% csrf_token %}
          <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="edit_lease_modal.close()">✕</button>
          <h1 class="text-lg font-bold mb-4">Edit Lease</h1>

          <div class="mb-4 hidden">
              <label class="label">
                  <span class="label-text">Property</span>
              </label>
              <input type="hidden" name="property" value="{{ property.id }}" />
              <input type="text" class="input input-bordered w-full" value="{{ property.name }}" disabled />
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">Unit *</span>
              </label>
              <select name="unit" id="edit_unit" class="select select-bordered w-full" required>
                  <option value="" disabled selected>Select Unit</option> <!-- Default option -->
                  {% for unit in property.units.all %}
                  <option value="{{ unit.id }}">{{ unit.unit_name }}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">Tenant *</span>
              </label>
              <select name="tenant" id="edit_tenant" class="select select-bordered w-full" required>
                  {% for tenant in tenants %}
                  <option value="{{ tenant.id }}">{{ tenant.name }}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">UST Type *</span>
              </label>
              <select name="ust_type" id="edit_ust_type" class="select select-bordered w-full" required>
                  <option value="Nicht">Nicht</option>
                  <option value="Voll">Voll</option>
                  <option value="Teilw">Teilw</option>
              </select>
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">Deposit Amount *</span>
              </label>
              <input type="number" name="deposit_amount" id="edit_deposit_amount" step="0.01" class="input input-bordered w-full">
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">Rent *</span>
              </label>
              <input type="number" name="rent" id="edit_rent" step="0.01" class="input input-bordered w-full" readonly>
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">Start Date</span>
              </label>
              <input type="date" name="start_date" id="edit_start_date" class="input input-bordered w-full">
          </div>

          <div class="mb-4">
              <label class="label">
                  <span class="label-text">End Date (Optional)</span>
              </label>
              <input type="date" name="end_date" id="edit_end_date" class="input input-bordered w-full">
          </div>

          <div class="modal-action">
              <button type="submit" class="btn btn-outline">Save</button>
              <button type="button" class="btn btn-outline btn-error" onclick="edit_lease_modal.close()">Cancel</button>
          </div>
      </form>
  </div>
</dialog>

<!-- Add Income Profile Modal -->
<dialog id="add_income_modal_2" class="modal">
  <div class="modal-box bg-base-100 text-base-content">
      <form method="post" action="{% url 'add_income_profile' %}">
          {% csrf_token %}
          <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="add_income_modal_2.close()">✕</button>
          <h1 class="text-lg font-bold mb-4">Add Income Profile</h1>

          <div class="mb-4">
              <label class="label"><span class="label-text">Profile Name *</span></label>
              <input type="text" name="profile_name" class="input input-bordered w-full" required>
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Account Name *</span></label>
              <input type="text" id= "account_name_income" name="account_name" class="input input-bordered w-full" required>
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Booking No (BN) *</span></label>
              <input type="text" name="booking_no" class="input input-bordered w-full" required>
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Transaction Type *</span></label>
              <select name="transaction_type" class="select select-bordered w-full" required>
                  <option value="rent">Rent</option>
                  <option value="bk_advance_payments">BK Advance Payments</option>
                  <option value="security_deposit">Security Deposit</option>
                  <option value="subsidy">Subsidy</option>
                  <option value="deposit_withdrawal">Deposit / Withdrawal</option>
              </select>
          </div>

          <div class="mb-4 hidden">
              <label class="label"><span class="label-text">Property *</span></label>
              <input type="hidden" name="property" value="{{ property.id }}">
              <input type="text" class="input input-bordered w-full" value="{{ property.name }}" disabled>
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Lease *</span></label>
              <select name="lease" class="select select-bordered w-full" required>
                  <option value="" disabled selected>Select Lease</option>
                  {% for lease in property.leases.all %}
                  <option value="{{ lease.id }}">{{ lease }}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Frequency</span></label>
              <select name="frequency" class="select select-bordered w-full">
                  <option value="">-- None --</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
              </select>
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Amount</span></label>
              <input type="number" name="amount" step="0.01" class="input input-bordered w-full" >
          </div>

          <div class="mb-4">
              <label class="label"><span class="label-text">Date </span></label>
              <input type="date" name="date" class="input input-bordered w-full" >
          </div>

          <div class="mb-4">
              <label class="label cursor-pointer"><span class="label-text">Recurring</span></label>
              <input type="checkbox" name="recurring" class="checkbox">
          </div>

          <div class="modal-action">
              <button type="submit" class="btn btn-outline">Add</button>
              <button type="button" class="btn btn-outline btn-error" onclick="add_income_modal.close()">Cancel</button>
          </div>
      </form>
  </div>
</dialog>

<!-- Add Expense Modal -->
<dialog id="add_expense_modal_2" class="modal">
<div class="modal-box bg-base-100 text-base-content">
    <form method="post" action="{% url 'add_expense_profile' %}">
        {% csrf_token %}
        <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="add_expense_modal.close()">✕</button>
        <h1 class="text-lg font-bold mb-4">Add Expense Profile</h1>
        <div class="mb-4">
            <label class="label"><span class="label-text">Profile Name *</span></label>
            <input type="text" name="profile_name" class="input input-bordered w-full" placeholder="Profile Name" required>
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Account Name *</span></label>
            <input type="text" id="account_name_expense"name="account_name" class="input input-bordered w-full" placeholder="Account Name" required>
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Booking No (BN) *</span></label>
            <input type="text" name="booking_no" class="input input-bordered w-full" placeholder="Booking Number" required>
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Transaction Type *</span></label>
            <select name="transaction_type" class="select select-bordered w-full" required>
                <option value="">-- Select a GGkto --</option>
                <option value="bk_back_payments">BK Back Payments</option>
                <option value="bk_general_electricity">BK General Electricity</option>
                <option value="bk_insurance">BK Insurance</option>
                <option value="bk_heating_costs">BK Heating Costs</option>
                <option value="other_non_bk">Other Non-BK</option>
                <option value="BK-Aufzugsanlage">BK Elevator System</option>
                <option value="IH-direkt">Maintenance Direct</option>
                <option value="BK-Wasser">BK Water</option>
                <option value="BK-Entwässerung">BK Drainage</option>
                <option value="BK-Hausmeister/-reinigung">BK Caretaker / Cleaning</option>
                <option value="BK-Grundsteuern">BK Property Taxes</option>
                <option value="BK-Müllabfuhr">BK Waste Disposal</option>
                <option value="BK-Heizkosten gem. ISTA">BK Heating Costs per ISTA</option>
                <option value="Zinsen">Interest</option>
                <option value="IH-Aktivierung">Maintenance Activation</option>
                <option value="BK-direkt">BK Direct</option>
                <option value="BK-Sonstige">BK Miscellaneous</option>
                <option value="Inv-Miete">Investment Rent</option>
                <option value="Einlage / Entnahme">Deposit / Withdrawal</option>
            </select>
        </div>
        <!-- Hidden Property Field -->
        <div class="mb-4 hidden">
            <label class="label"><span class="label-text">Property *</span></label>
            <input type="hidden" name="property" value="{{ property.id }}">
            <input type="text" class="input input-bordered w-full" value="{{ property.name }}" disabled>
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Lease (Optional)</span></label>
            <select name="lease" class="select select-bordered w-full">
                <option value="">-- Select Lease --</option>
                {% for lease in property.leases.all %}
                    <option value="{{ lease.id }}">{{ lease }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Frequency</span></label>
            <select name="frequency" class="select select-bordered w-full">
                <option value="">-- None --</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Amount</span></label>
            <input type="number" step="0.01" name="amount" class="input input-bordered w-full" placeholder="Amount">
        </div>
        <div class="mb-4">
            <label class="label"><span class="label-text">Date</span></label>
            <input type="date" name="date" class="input input-bordered w-full">
        </div>
        <div class="mb-4">
            <label class="label cursor-pointer"><span class="label-text">Recurring</span></label>
            <input type="checkbox" name="recurring" class="checkbox">
        </div>
        <div class="modal-action">
            <button type="submit" class="btn btn-outline">Add</button>
            <button type="button" class="btn btn-outline btn-error" onclick="add_expense_modal.close()">Cancel</button>
        </div>
    </form>
</div>
</dialog>

<script>
  // Check the URL for the "tab" query parameter
  const urlParams = new URLSearchParams(window.location.search);
  const tabParam = urlParams.get('tab');

  // Function to open the specified tab
  function openTab(tabId) {
    document.querySelectorAll('input[name="property_tabs"]').forEach(tab => {
      tab.checked = false; // Deselect all tabs
    });
    document.getElementById(tabId).checked = true; // Select the desired tab
  }

  // Open the tab based on the "tab" parameter
  if (tabParam) {
    if (tabParam === 'leases') {
      openTab('leases_tab');
    } else if (tabParam === 'units') {
      openTab('units_tab');
    } else if (tabParam === 'income') {
      openTab('income_tab');
    } else if (tabParam === 'expense') {
      openTab('expense_tab');
    } else if (tabParam === 'dashboard') {
      openTab('dashboard_tab');
    }
  }



</script>

{% endblock %}
