{% extends 'bookkeeping/base.html' %}
{% load static %}

{% block title %}Properties{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold">Gebäude</h1>
    <div class="flex items-center gap-3">
        <button
          aria-label="Search button"
          onclick="search_modal.showModal()"
          class="btn btn-outline btn-sm h-9 w-48 items-center justify-start gap-3 border-base-content/20 hover:border-transparent hover:bg-base-content/20">
          <iconify-icon icon="lucide:search" height="16" class="text-base-content/60"></iconify-icon>
          <span class="text-base-content/60">
              {% if request.GET.q %}
                Suche nach: "{{ request.GET.q }}"
              {% else %}
                Suche
              {% endif %}
          </span>
        </button>
        <button class="btn btn-glass btn-outline btn-sm" onclick="add_property_modal.showModal()">+ Gebäude hinzufügen</button>
    </div>
</div>

<!-- Search Modal -->
<dialog aria-label="Modal" class="modal" id="search_modal">
    <div class="modal-box p-0">
        <form method="get" action="{% url 'properties' %}">
            <div class="form-control flex-row items-center rounded-box p-2 px-5">
                <iconify-icon
                icon="lucide:search"
                height="18"
                class="text-base-content/70"></iconify-icon>
                <input
                name="q"
                placeholder="Gebäude suchen"
                value="{{ request.GET.q|default:'' }}"
                class="input input-sm w-full text-base focus:border-transparent focus:outline-0 focus:outline-offset-0" />
               <!-- Clear Button -->
               {% if request.GET.q %}
               <a href="{% url 'properties' %}" class="btn btn-circle btn-ghost btn-sm gap-2">
                   <iconify-icon icon="lucide:x" height="16"></iconify-icon>
               </a>
                {% endif %}
                <button type="submit" class="btn btn-circle btn-ghost btn-sm gap-2">
                    <iconify-icon icon="lucide:search" height="16"></iconify-icon>
                </button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>Schließen</button>
    </form>
</dialog>

<!-- Add Property Modal -->
<dialog id="add_property_modal" class="modal">
    <div class="modal-box bg-base-100 text-base-content">
        <form method="post" enctype="multipart/form-data" action="{% url 'add_property' %}">
            {% csrf_token %}
            <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="add_property_modal.close()">✕</button>
            <h2 class="text-lg font-bold mb-4">Gebäude hinzufügen</h2>

            <!-- Property Fields -->
            <div class="mb-4">
                <label class="label"><span class="label-text">Gebäudename</span></label>
                <input type="text" name="name" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Gebäudetyp</span></label>
                <select name="property_type" class="select select-bordered w-full" required>
                    <option value="" disabled selected>Bitte Gebäudetyp auswählen</option>
                    <option value="residential">Wohngebäude</option>
                    <option value="commercial">Gewerbegebäude</option>
                    <option value="mixed-use">Mischnutzung</option>
                </select>
            </div>            
            <div class="mb-4">
                <label class="label"><span class="label-text">Straße</span></label>
                <input type="text" name="street" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Hausnummer</span></label>
                <input type="text" name="building_no" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Stadt</span></label>
                <input type="text" name="city" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Postleitzahl</span></label>
                <input type="text" name="zip" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Land</span></label>
                <input type="text" name="country" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Vermieter</span></label>
                <select name="landlords" id="landlordSelect" class="select select-bordered w-full" multiple>
                    {% for landlord in landlords %}
                    <option value="{{ landlord.id }}">{{ landlord.name }}-{{ landlord.object}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label class="label"><span class="label-text">Teilweise-Steuersatz %</span></label>
                <input type="number" name="partial_tax_rate" id="partial_tax_rate" class="input input-bordered w-full" required>
            </div>
            <div class="mb-4 flex items-center gap-3">
                <label class="label"><span class="label-text">Automatisch berechnen</span></label>
                <input type="checkbox" id="auto_calculate" name="auto_calculate_tax" class="checkbox" {% if property.auto_calculate_tax %}checked{% endif %}>
            </div>
            
            <div id="auto_calculate_options" class="{% if not property.auto_calculate_tax %}hidden{% endif %} ml-5">
                <div class="mb-4 flex items-center gap-3">
                    <input type="radio" id="use_sq_meterage" name="tax_calculation_method" value="sq_meterage" class="radio" {% if property.tax_calculation_method == "sq_meterage" %}checked{% endif %}>
                    <label for="use_sq_meterage" class="label-text">Basierend auf Fläche (m²)</label>
                </div>
                <div class="mb-4 flex items-center gap-3">
                    <input type="radio" id="use_income" name="tax_calculation_method" value="income" class="radio" {% if property.tax_calculation_method == "income" %}checked{% endif %}>
                    <label for="use_income" class="label-text">Basierend auf Einnahmen</label>
                </div>
            </div>
            

            <div class="mb-4">
                <label class="label"><span class="label-text">Gebäudebild</span></label>
                <input type="file" name="image" class="file-input file-input-bordered w-full" accept="image/*">
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Gebäude hinzufügen</button>
                <button type="button" class="btn btn-outline btn-error" onclick="add_property_modal.close()">Abbrechen</button>
            </div>
        </form>
    </div>
</dialog>

<!-- Property Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for property in page_obj %}
    <a href="{% url 'property_detail' property.id %}" class="block" data-property-id="{{ property.id }}">

        <div class="card bg-base-100 image-full shadow-xl w-full h-48 cursor-pointer transform transition-transform duration-150 hover:scale-105 hover:shadow-2xl relative">
            <figure class="h-48 w-full overflow-hidden">
                {% if property.image %}
                <img src="{{ property.image.url }}" alt="Property Image" class="object-cover h-full w-full" />
                {% else %}
                <img src="{% static 'property_images/default_image.png' %}" alt="Default Property Image" class="object-cover h-full w-full" />
                {% endif %}
            </figure>

            <div class="card-body">
                <h1 class="font-bold text-xl ">{{ property.name }}</h1>
                <p>{{ property.street }}, {{ property.city }}</p>
                
                <p class="text-sm text-warning mt-1 lock-status">
                    {% if property.locked_by %}
                        🔒 Wird derzeit bearbeitet von: <strong>{{ property.locked_by.username }}</strong>
                    {% endif %}
                </p>
                
                
                <!-- Badge Positioned to Top-Right -->
                <div class="absolute top-2 right-2">
                    <div class="badge badge-accent">
                        {% if property.property_type == "residential" %}
                            Wohngebäude
                        {% elif property.property_type == "commercial" %}
                            Gewerbegebäude
                        {% elif property.property_type == "mixed-use" %}
                            Mischnutzung
                        {% else %}
                            {{ property.property_type }}
                        {% endif %}
                    </div>
                </div>                
            </div>
        </div>
    </a>
    {% empty %}
    <p>No properties available.</p>
    {% endfor %}
</div>

<!-- Pagination Component -->
<div class="flex justify-center mt-6">
    <div class="join">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="join-item btn btn-sm">Erste</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">Zurück</a>
        {% endif %}

        <span class="join-item btn btn-sm btn-active">
            Seite {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">Weiter</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn btn-sm">Letzte</a>
        {% endif %}
    </div>
</div>

<script>
    document.getElementById("auto_calculate").addEventListener("change", function() {
        let options = document.getElementById("auto_calculate_options");
        let taxRateField = document.getElementById("partial_tax_rate");

        options.classList.toggle("hidden", !this.checked);
        taxRateField.disabled = this.checked;  // Disable input when auto-calculation is enabled
    });

    document.querySelectorAll("input[name='tax_calculation_method']").forEach((radio) => {
        radio.addEventListener("change", function() {
            if (this.checked) {
                document.getElementById("partial_tax_rate").disabled = true;
            }
        });
    });
</script>
<script>
    function updateLockStatus() {
        fetch("{% url 'property_locks' %}")
            .then(response => response.json())
            .then(data => {
                // Reset all lock-status fields
                document.querySelectorAll(".lock-status").forEach(el => {
                    el.innerHTML = "";
                });
    
                data.forEach(lock => {
                    const card = document.querySelector(`[data-property-id='${lock.id}']`);
                    if (card) {
                        const status = card.querySelector(".lock-status");
                        if (status) {
                            status.innerHTML = `🔒 Wird derzeit bearbeitet von: <strong>${lock.locked_by__username}</strong>`;
                        }
                    }
                });
            })
            .catch(error => {
                console.error("Fehler beim Abrufen der Sperrstatusdaten:", error);
            });
    }
    
    // Poll every 10 seconds
    setInterval(updateLockStatus, 5000);
    </script>
<script>
    localStorage.removeItem("temp_username");
    localStorage.removeItem("temp_password");
</script>
<script>
    // without border
document.addEventListener("DOMContentLoaded", function () {
    new TomSelect("#landlordSelect", {
        plugins: ['remove_button'],
        placeholder: 'Vermieter auswählen...',
        persist: false,
        maxItems: null,


    });
});
</script>
<style>
#landlordSelect + .ts-wrapper .ts-control {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
    padding-left: 0; /* optional: align text if needed */
}
</style>

{% endblock %}